<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
</head>
<body>
    <h1>Project Dashboard</h1>
    <p>from issue tracker by Billos Corporation</p>
    <hr>
    <h2>Projects</h2>
    <div>
        <ul>
            <li th:each="p : ${projectsList}">
                <span th:text="${p.projTitle}">Project Name Placeholder</span> -
                <span th:text="${p.projDesc}">Description</span>
            </li>
        </ul>
    </div>
</body>
</html>